
@font-face {
    font-family: 'Nunito';
    src: url(../fonts/nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Nunito Bold';
    src: url(../fonts/nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito Extra Bold';
    src: url(../fonts/nunito/Nunito-ExtraBold.ttf);
}