<footer class="footer">
        <div class="footer__left">
            <div class="left__container">
                <div class="footer__links">
                    <ul class="footer__menu menu__first">
                        <li class="footer__item"><a class="special__link" href="#">О холдинге</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Наша миссия</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">История холдинга</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Структура холдинга</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Наши достижения</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Наши проекты</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Карьера</a></li>
                        <li class="footer__item"><a class="special__link" href="#">Контакты</a></li>
                    </ul>
                    <ul class="footer__menu menu__second">
                        <li class="footer__item"><a class="special__link" href="#">Каталог продукции</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Кондитерские изделия</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Масложировые изделия</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Мучные изделия</a></li>
                        <li class="footer__item"><a class="special__link" href="#">Партнёрство</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Партнёры холдинга</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Тендеры</a></li>
                        <li class="footer__item"><a class="footer__link" href="#">Условия закупок</a></li>
                    </ul>
                </div>
        
                <span class="footer__disclaimer">
                    Использование материалов с сайта допустимо только при указании источника. Все права защищены и охраняются законом. © 2012 - 2024 Холдинг «NMEDOV»
                </span>
            </div>
        </div>
    
        <div class="footer__right">
            <div class="right__container">
                <div class="footer__contact">
                    <h3>Остались вопросы?</h3>
        
                    <span>Заполните форму обратной связи, и наш менеджер свяжется с вами.</span>
        
                    <div class="footer__btn">
                        <a class="footer__button" href="#">
                            связаться с нами
                            <svg>
                              <use xlink:href="#icon-arrowRight"></use>
                            </svg>
                        </a>
        
                        <span class="footer__phone">
                            <span>Телефон для справок</span>
                            <a href="tel:712280088">71 228 00 88</a>
                        </span>
                    </div>
                </div>
        
                <div class="footer__socials socials">
                    <span>Мы в соц. сетях:</span>
                    <ul class="socials__list">
                        <li class="socials__item">
                            <a href="#" class="socials__link">
                                <img src="../img/facebook.png" alt="#">
                            </a>
                        </li>
        
                        <li class="socials__item">
                            <a href="#" class="socials__link">
                                <img src="../img/ins.png" alt="#">
                            </a>
                        </li>
        
                        <li class="socials__item">
                            <a href="#" class="socials__link">
                                <img src="../img/youtube.png" alt="#">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="footer__arrow">
        <svg>
            <use xlink:href="#icon-arrowRight"></use>
        </svg>
    </div>
</footer>