<header class="header">
    <div class="header__content">
        <div class="header-leftmain">
            <a class="header-logo" href="https://nmedov.uz/" aria-label="На главную">
                <img src="../img/main-logo.png" alt="#">
            </a>
            <div class="header-left">
                
                <ul class="header-list">
                    <li class="header-list__item">
                        <a href="#" class="header-list__link">О холдинге</a>
                    </li>
        
                    <li class="header-list__item">
                        <a href="#" class="header-list__link">Продукция</a>
                    </li>
        
                    <li class="header-list__item">
                        <a href="#" class="header-list__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="header-right">
            <ul class="header-widgets">
                <li class="header-widgets__item">
                    <a href="" class="header-widgets__link">
                        <svg>
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </a>
                </li>
    
                <li class="header-widgets__item language">
                    <details class="language__details">
                        <summary class="language__header">
                            Ру
                        </summary>
    
                        <span class="language__content">
                            En
                        </span>
    
                        <span class="language__content">
                            Uz
                        </span>
                    </details>
                </li>
    
                <li class="header-widgets__item">
                    <a href="tel:712280088" class="header-widgets__link">71 228 00 88</a>
                </li>
            </ul>

            
        </div>
        <button class="menu-button" type="button" aria-label="Открыть меню">
            <svg class="dropicon">
                <use xlink:href="#icon-drop"></use>
            </svg>
    
            <svg class="burger">
                <use xlink:href="#icon-burger"></use>
            </svg>
        </button>
    </div>
    
</header>
